@font-face {
	font-family: 'ShowcardGothic';
	src: url('@/static/font/SHOWG.TTF');
	/* 指定字体文件路径 */
}

@font-face {
	font-family: 'ExpectionNumber';
	src: url('@/static/font/ERASBD.TTF')
}

@font-face {
	font-family: 'ExpectionContent';
	src: url('@/static/font/EXPECTIONCONTENT.TTF')
}